// INIT MAIN PAGE STATES

#main #mainbuttonsrow {display: none;}
#main #startgame {display: none;}
#main #joingame {display: none;}
#main #waitingarea {display: none;}
#main #gamearea {display: none;}
#main #sharearea {display: none;}
#main #aboutarea {display: none;}

#main.state-home #mainbuttonsrow {display: flex;}
#main.state-startgame #startgame {display: block;}
#main.state-joingame #joingame {display: block;}
#main.state-waitingarea #waitingarea {display: block;}
#main.state-gamearea #gamearea {display: block;}
#main.state-sharearea #sharearea {display: block;}
#main.state-aboutarea #aboutarea {display: block;}