@media only screen and (max-width: 600px) {
	body {
		font-size: 13px;
	}
	h2 {
		font-weight: normal;
		font-size:20px;
		line-height:30px;
	}
	h3 {
		font-weight: normal;
		font-size:15px;
		line-height:23px;
	}
	#cylinder-title {
		display: none;
	}
	#cc-graphic {
		width:10%;
		display: none;
	}
	body.inhome #cc-graphic {
		display: block;
	}
	#vertbuttonshome {
		display:none;
	}
	body.inhome #vertbuttonshome {
		display: flex;
	}
	#main.state-home {
		width:80%;
	}
	// #mainbuttonsrow {
	// 	width:80%;
	// }
	#gamebuttonscontainer {
		display: flex;
		flex-direction: column;
	}
	#sharebuttonscontainer {
		flex-direction: column;
	}
	.qrrow h2 {
		line-height: 20px;
		font-size:15px;
	}
	.mainbutton {
		border-radius:100px !important;
		width:80%;
		margin: 10px auto;
	}
	.mainbuttontitle {
		font-size:18px;
	}
	.titlebanner {
		margin: 5px;
	}
	.subtitlebanner {
		margin: 5px;
	}
	#aboutarea #toby-pic {
		width:90px;
	}
	#aboutarea p {
		font-size: 11px; 
		line-height: 18px;
		text-align: left;
	}
	#startgame-options .game-option {
		padding: 5px 0;
	}
	.radiobuttonoption {
		margin: 0 5px;
	}
	.buttonrow .subbutton {
		flex: 1;
		margin: 0 2px;
	}
	.subbutton {
		height:30px;
	}
	.submainbuttontitle {
		font-size: 13px;
		line-height: 30px;
	}
	.iconbutton.subbutton img {
		display: none;
	}
	#roomnumcontainer {
		margin: 10px 5px;
	}
	#main.state-waitingarea #waitingarea {
		background: none;
	}
	#waitingarea .room .copy-room-id {
		margin-top: 0;
		right: 0;
		position: relative;
	}
	#waitingarea .room .copy-id {
		height: 14px;
		margin-left:15px;
	}
	#waitingarea .room .tick-id {
		height: 10px;
		margin-left:15px;
	}
	.state-gamearea {
		// position: absolute !important;
		// margin-top: 5px;
		top:0;
		left:0;
		width:100%;
	}
	#gamearea .submainbuttontitle {
		font-size: 11px;
		line-height: 14px;
	}
	.buttonrowmsgcontainer {
		// height: 30px;
	}
	.buttonrowmsg {
		font-size: 11px;
		line-height: 14px;
	}
	.piece {
		width: calc(var(--relativesize));
		margin: 0;
	}
	#commonboard.cyl .capturearea {
		width: calc(4*var(--relativesize)/3);
		grid-auto-rows: calc(2*var(--relativesize)/3);
	}
	#commonboard.cyl .captured.piece {
		width: calc(2*var(--relativesize)/3);
	}
	#commonboard.sqr .capturearea {
		height: calc(5*var(--relativesize)/10);
		grid-auto-columns: calc(4*var(--relativesize)/10);
	}
	#commonboard.sqr .captured.piece {
		width: calc(5*var(--relativesize)/10);
	}
	#cylinder-title {
		height: 35px;
	}
	#cylinder-title a {
		font-size: 13px;
		line-height: 35px;
	}
	.popup {
		width: calc(100% - 30px);
		margin: 0 15px;
		max-height: 450px;
	}
	.popup .popupcross {
		width: 20px;
		height: 20px;
		padding: 10px;
		margin:0;
	}
	.popup .crossline {
		height: 20px;
		width: 1px;
		margin-left: 10px;
	}
	.popupcontent {
		text-align: left;
		padding: 20px;
	}
	#copyright-content {
		display: none;
		bottom: calc(50% - 235px);
		left: 10px;
		transform: rotate(270deg);
		transform-origin: left;
	}
	#copyright-content p {
		font-size:10px;
		color: rgba(var(--tricol), 0.4);
		text-align: left;
	}
	#copyright-content .footer-link {
		color: rgba(var(--tricol), 0.4);
	}
	.state-home + #copyright-content, .state-gamearea + #copyright-content {
		display:block;
	}
	#cookiebanner-parent {
		width: 80%;
	}
	#cookiebanner {
		padding: 50px 0;
	}
}

// @media only screen and (min-width: 600px) and (max-height: 800px) {
// 	#gamearea .submainbuttontitle {
// 		font-size: 13px;
// 	} 
// }