@media only screen and (max-width: 600px) {
	body {
		font-size: 13px;
	}
	#mainbuttonsrow {
		width:80%;
	}
	#gamebuttonscontainer {
		display: flex;
		flex-direction: column;
	}
	#sharebuttonscontainer {
		flex-direction: column;
	}
	.mainbutton {
		border-radius:100px !important;
		width: auto;
	}
	.mainbuttontitle {
		font-size:18px;
	}
	.titlebanner {
		margin: 5px;
	}
	#startgame-options .game-option {
		padding: 5px 0;
	}
	.radiobuttonoption {
		margin: 0 5px;
	}
	.buttonrow .subbutton {
		flex: 1;
		margin: 0 5px;
	}
	#roomnumcontainer {
		margin: 10px 5px;
	}
	#main.state-waitingarea #waitingarea {
		background: none;
	}
	.state-gamearea {
		position: absolute !important;
		margin-top: 5px;
		top:0;
		left:0;
		width:100%;
	}
	#gamearea .subbutton {
		// margin:0 5px !important;
		height: 35px;
	}
	#gamearea .submainbuttontitle {
		line-height: 35px;
		font-size: 15px;
	} 
	.piece {
		width: calc(var(--relativesize));
		margin: 0;
	}
	#commonboard.cyl .capturearea {
		width: calc(4*var(--relativesize)/3);
		grid-auto-rows: calc(2*var(--relativesize)/3);
	}
	#commonboard.cyl .captured.piece {
		width: calc(2*var(--relativesize)/3);
	}
	#commonboard.sqr .capturearea {
		height: calc(5*var(--relativesize)/10);
		grid-auto-columns: calc(4*var(--relativesize)/10);
	}
	#commonboard.sqr .captured.piece {
		width: calc(5*var(--relativesize)/10);
	}
	h1#cylinder-title {
		font-size:15px;	
	}
	body.ingame h1#cylinder-title {
		display: none;
	}
	.popup {
		width: calc(100% - 30px);
		margin: 0 15px;
	}
}