html {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

body {
	background: rgb(40,40,40);
	max-width:600px;
	width:100%;
	margin: auto;
	overflow: hidden;
	font-family: Avenir;
}

h1#cylinder-title {
	color: #343434;
	font-size: 30px;
	text-align: center;
}

.state-home {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

//////// UI ELEMENTS

#main {
	position: relative;
}

.mainbutton {
	max-width: 400px;
	padding: 20px;
	margin: 10px;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	background: rgb(100,150,200);
}

.mainbuttontitle {
	margin:0;
}

.subbutton {
	max-width: 200px;
	min-height: 50px;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	background: rgb(255, 255, 255);
}

.submainbuttontitle {
	color:black;
}

// #startgame {
	// margin: auto;
// }

// #joingame {
	// margin: auto;
// }

#joingame input#roomnum {
	height: 40px;
	padding-left: 20px;
	margin: auto;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	border:none;
}

#roomnum:focus {outline: none;}

#waitingarea {
	background:rgb(38, 65, 57);
	margin:auto;
	display:none;
	height:400px;
	border:black 1px solid;
	padding:10px;
}

#waitingarea .room {
	text-align: center;
}

#startgame-options {
	margin-top: 40px;
}

#startgame-options .game-option {
	list-style-type:none;
	margin: auto;
	display: flex;
	place-content: space-around;
	color: white;
	padding: 10px 0;
	// border-left: white 1px solid;
}

.radiobuttonoption {
	flex:1;
	margin: 0 10px;
	height: 50px;
	background: rgb(0,0,0);
	cursor: pointer;
	position: relative;
}

.radiobuttonoption input {
	margin:0;
	pointer-events: none;
	visibility: hidden;
}

.radiobuttonoption label {
	pointer-events: none;
	width: calc(100% - 26px);
	position: absolute;
	margin-right: 13px;
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
}

.radiobuttonoption input:checked + label {
	color:rgb(100,150,200);;
}

#waitingarea {
	color: white;
}

.buttonrow {
	display: flex;
	margin: auto;
	margin-top: 40px;
	place-content: space-evenly;
}
.buttonrow .subbutton {
	flex:1;
	margin:0 10px;
}

#timerow {display: flex;}
#timerow h3 {
	flex:1;
	margin: auto;
	text-align: center;
}

#gameovermsg {
	flex: 1;
	text-align: center;
	margin: auto;
	display: none;
}

#endgamerow.gameover #resigngame {
	display: none;
}

#endgamerow.gameover #gameovermsg {
	display: block;
}

.popup {
	display: none;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	height: 40%;
	min-height: 300px;
	background: #3c3c3c;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
}

.popup h2 {
	margin:0;
	margin-top:20px;
	padding:40px;
}
.popup p {
	margin:0;
	padding-left:40px;
}
.popup .popupcross {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	margin: 20px;
	cursor: pointer;
}
.popup .crossline {
	position: absolute;
	height: 40px;
	width: 1px;
	margin-left: 20px;
	border-left: white 1px solid;
}
.popup .popupcrossleft {transform: rotate(45deg);}
.popup .popupcrossright {	transform: rotate(315deg);}

#main.popup-active > #gamearea {
	filter: blur(2px);
	pointer-events: none;
}

#main.popup-active > .popup {
	display: block;
}

//////// INIT GAME STATES:

#main.state-home > .mainbutton {display: block;}
#main.state-home #startgame {display: none;}
#main.state-home #startgame-options {display: none;}
#main.state-home #joingame {display: none;}
#main.state-home #joingame-options {display: none;}
#main.state-home #waitingarea {display: none;}
#main.state-home #gamearea {display: none;}

#main.state-startgame > .mainbutton {display: none;}
#main.state-startgame #startgame {display: block;}
#main.state-startgame #startgame-options {display: block;}
#main.state-startgame #joingame {display: none;}
#main.state-startgame #joingame-options {display: none;}
#main.state-startgame #waitingarea {display: none;}
#main.state-startgame #gamearea {display: none;}

#main.state-joingame > .mainbutton {display: none;}
#main.state-joingame #startgame {display: none;}
#main.state-joingame #startgame-options {display: none;}
#main.state-joingame #joingame {display: block;}
#main.state-joingame #joingame-options {display: block;}
#main.state-joingame #waitingarea {display: none;}
#main.state-joingame #gamearea {display: none;}

#main.state-waitingarea > .mainbutton {display: none;}
#main.state-waitingarea #startgame {display: none;}
#main.state-waitingarea #joingame {display: none;}
#main.state-waitingarea #waitingarea {display: block;}
#main.state-waitingarea #gamearea {display: none;}

#main.state-gamearea > .mainbutton {display: none;}
#main.state-gamearea #startgame {display: none;}
#main.state-gamearea #joingame {display: none;}
#main.state-gamearea #waitingarea {display: none;}
#main.state-gamearea #gamearea {display: block;}

//////// GAME PLAY

#gamearea {
	margin:auto;
	display:none;
	padding:10px;
	color: white;
}

#gamearea.mymove {
	background:rgb(38, 65, 57);
}

.cell {background: rgb(210, 210, 210)}
.col:nth-child(even) .cell:nth-child(even),
.col:nth-child(odd) .cell:nth-child(odd) {
	background: rgba(100, 158, 141,1);
}

.piece {
	width: calc(8*var(--relativesize)/10);
	display: inline;
	position: absolute;
	margin: calc(var(--relativesize)/10);
}

.rankid {
	display: inline;
	position: absolute;
	margin: 0;
}

.fileid {
	position: absolute;
	display: inline;
	margin-top: 15px;
}

.piecechosen {
	background: rgb(162, 206, 177) !important;
}

.mymove .validcandidate {
	cursor: pointer;
	background: rgb(178, 215, 220) !important;
}

.mymove .mypiece {
	cursor: pointer;
}

#wcapture {
	position: absolute;
}

#bcapture {
	position: absolute;
	right: 0;
}

.captured {
	display: block;
	position: relative;
}

//////// CYLINDER BOARD

$g: 1em;
$b: .3;
$t: 12s;

#cylinderarea {
	display: grid;
	perspective: calc(7*var(--relativesize));
	box-shadow: #000000 0px 0px 80px 10px;
	width: calc(2*var(--relativesize));
	height: calc(8*var(--relativesize));
	margin: calc(var(--relativesize)) auto;
}

#cylinder {
	place-self: center;
	display: grid;
	transform-style: preserve-3d;
}

#cylinder .col {
	display: grid;
	grid-area: 1/ 1;
	width: var(--relativesize);
	height: calc(8*var(--relativesize));
	transform-origin: 50% 100%;
	transform: 
		rotatey(calc(var(--j)*1turn)) 
		translatez(calc(var(--rri)*var(--relativesize)/var(--cellconst)))
		scalex(1.01);
}

#cylinder .cell {
	width: var(--relativesize);
	height: var(--relativesize);
}

//////// SQUARE BOARD

#squarearea {
	display: flex;
}

#square {
	flex-direction: row;
	display: flex;
	margin: auto;
}

#square .col {
	flex-direction: column;
	display: flex;
}

#square .cell {
	height: var(--relativesize);
	width: var(--relativesize);
}