html, body {
	background: rgb(40,40,40);
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: Avenir;
}

h1#cylinder-title {
	color: white;
	text-align: center;
}

.state-home {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

//////// UI ELEMENTS

.mainbutton {
	max-width: 400px;
	padding: 20px;
	margin: 10px;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	background: rgb(100,150,200);
}

.mainbuttontitle {
	margin:0;
}

.subbutton {
	max-width: 200px;
	padding: 10px;
	margin: 10px;
	min-height: 50px;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	background: rgb(255, 255, 255);
}

.submainbuttontitle {
	color:black;
}

#waitingarea {
	background:rgb(38, 65, 57);
	display:none;
	width:400px;
	height:400px;
	border:black 1px solid;
	padding:10px;
}

#startgame-options .game-option {
	color: white;
}

#initgame.state-startgame #startgame .mainbutton {
	background: rgba(100,150,200,0.5);
	color: white;
	cursor:default;
}

#waitingarea {
	color: white;
}

//////// INIT GAME STATES:

#initgame.state-home #startgame {display: block;}
#initgame.state-home #startgame-options {display: none;}
#initgame.state-home #joingame {display: block;}
#initgame.state-home #joingame-options {display: none;}
#initgame.state-home #waitingarea {display: none;}
#initgame.state-home #gamearea {display: none;}

#initgame.state-startgame #startgame {display: block;}
#initgame.state-startgame #startgame-options {display: block;}
#initgame.state-startgame #joingame {display: none;}
#initgame.state-startgame #joingame-options {display: none;}
#initgame.state-startgame #waitingarea {display: none;}
#initgame.state-startgame #gamearea {display: none;}

#initgame.state-joingame #startgame {display: none;}
#initgame.state-joingame #startgame-options {display: none;}
#initgame.state-joingame #joingame {display: block;}
#initgame.state-joingame #joingame-options {display: block;}
#initgame.state-joingame #waitingarea {display: none;}
#initgame.state-joingame #gamearea {display: none;}

#initgame.state-waitingarea #startgame {display: none;}
#initgame.state-waitingarea #joingame {display: none;}
#initgame.state-waitingarea #waitingarea {display: block;}
#initgame.state-waitingarea #gamearea {display: none;}

#initgame.state-gamearea #startgame {display: none;}
#initgame.state-gamearea #joingame {display: none;}
#initgame.state-gamearea #waitingarea {display: none;}
#initgame.state-gamearea #gamearea {display: block;}

//////// GAME PLAY

#gamearea {
	// background: rgb(255, 255, 255);
	display:none;
	width:400px;
	border:black 1px solid;
	padding:10px;
	color: white;
}

#gamearea.mymove {
	background:rgb(38, 65, 57);
}

.cell {background: rgba(200,200,200,1);}
.col:nth-child(even) .cell:nth-child(even),
.col:nth-child(odd) .cell:nth-child(odd) {
	background: rgba(100, 158, 141,1);
}

.piece {
	width: 4em;
	display: inline;
	position: absolute;
	margin: 0.5em 0.5em;
}

.rankid {
	display: inline;
	position: absolute;
	margin: 0;
}

.fileid {
	position: absolute;
	display: inline;
	margin-top: 15px;
}

.piecechosen {
	background: rgb(199, 246, 232) !important;
}

.mymove .candidatemove {
	cursor: pointer;
	background: rgb(236, 159, 159) !important;
}

.mymove .mypiece {
	cursor: pointer;
}

#wcapture {
	height: 100px;
	float: left;
}

#bcapture {
	height: 100px;
	float: right;
}

.captured {
	display: block;
	position: relative;
}

//////// CYLINDER BOARD

$g: 1em;
$rc: 6em;
$b: .3;
$t: 12s;

#cylinderarea {
	display: grid;
	perspective: 35em;
}

#cylinder {
	place-self: center;
	display: grid;
	transform-style: preserve-3d;
}

#cylinder .col {
	display: grid;
	grid-area: 1/ 1;
	width: calc(var(--rbe)*#{$rc});
	height: calc(8*var(--rfh)*#{$rc});
	transform-origin: 50% 100%;
	transform: 
		rotatey(calc(var(--j)*1turn)) 
		translatez(calc(var(--rri)*#{$rc}))
		scalex(1.01);
}

#cylinder .cell {
	width: calc(var(--rbe)*#{$rc});
	height: calc(var(--rfh)*#{$rc});
}

//////// SQUARE BOARD

#square {
	flex-direction: row;
	display: flex;
}

#square .col {
	flex-direction: column;
	display: flex;
}

#square .cell {
	height: 5em;
	width: 5em;
}