.postbutton {
    border: black 1px solid;
    width: 200px;
    height: 100px;
    cursor: pointer;
}

$g: 1em;
$rc: 6em;
$b: .2;
$t: 12s;

.scene {
	display: grid;
	perspective: 35em;
	box-shadow: 2px 2px 5px;
	place-self: center;
}

.s3d {
	transform-style: preserve-3d;
	// animation: rot-y $t linear infinite
}

@keyframes rot-y { to { transform: rotatey(1turn) } }


.col {
	width: calc(var(--rbe)*#{$rc});
	height: calc(8*var(--rfh)*#{$rc});
	transform-origin: 50% 100%;
	transform: 
		rotatey(calc(var(--j)*1turn)) 
		translatez(calc(var(--rri)*#{$rc}))
		scalex(1.01);
	// animation: shade .5*$t ease-in-out calc(var(--j)*#{-$t}) infinite alternate;
}

@keyframes shade { to { filter: brightness($b) } }

.cell {
	place-self: center;
	width: calc(var(--rbe)*#{$rc});
	height: calc(var(--rfh)*#{$rc});
	grid-area: 1/ 1;
	transform: translatey(calc(var(--i)*var(--rfh)*#{$rc}));
}
.cell:nth-child(even) {
	background: rgba(200,200,200,1);
}
.cell:nth-child(odd) {
	background: rgba(100, 158, 141,1);
}