doctype html
head
	title Cylinder Chess
	link(rel='stylesheet' href='styles.css')
h1 Cylinder Chess
p Click start to init new game, or type in room num and join.
#startgame.postbutton Start Game
input#roomnum(placeholder='#ROOM')
#joingame.postbutton Join Game
#waitingarea
	| Waiting AREA
	h2.room
	#closegame.postbutton close
#gamearea
	| Game AREA
	h2.room
	h3#movemade
	h3#mytime
	h3#opponenttime(style='display:inline;')
	#wcapture
	#bcapture
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(type='module' src='main.mjs')