doctype html
head
	title Cylinder Chess
	link(rel='stylesheet' href='styles.css')
body
	include ui-components
	h1#cylinder-title cylinderchess.com
	#main.state-home
		+mainbutton('startbutton','Start Game')
		#startgame
			#startgame-options
				ul#colour.game-option
					+gameoption('colour-white','colour','white','w',true)
					+gameoption('colour-black','colour','black','b',false)
					+gameoption('colour-random','colour','random','r',false)
				ul#time.game-option
					+gameoption('time-1','time','1m + 5s','1+5',false)
					+gameoption('time-5','time','5m + 0s','5+0',false)
					+gameoption('time-unlimited','time','unlimited','u',true)
				ul#surface.game-option
					+gameoption('surface-cylinder','surface','cylinder','cylinder',true)
					+gameoption('surface-square','surface','square','square',false)
				ul#roomsize.game-option
					+gameoption('roomsize-2','roomsize','room size 2','2',true)
					+gameoption('roomsize-3','roomsize','room size 3','3',false)
				.buttonrow
					+subbutton('stopcreateroom','back')
					+subbutton('createroom','create room')
		+mainbutton('joinbutton','Join Game')
		#joingame
			#joingame-options
				input#roomnum(placeholder='#ROOM')
				.buttonrow
					+subbutton('stopjoinroom','back')
					+subbutton('joinroom','join room')
		#waitingarea
			| Waiting AREA
			h2.room
			.buttonrow
				+subbutton('leavewaitingroom','leave')
		#gamearea
			//- | Game AREA
			//- h2.room
			//- h3#movemade
			#timerow
				h3#mytime
				h3#opponenttime(style='display:inline;')
			#boardarea
			#endgamerow.buttonrow
				+subbutton('resigngame','resign')
				+subbutton('leaveroom','leave')
				h3#gameovermsg
		+popup()
	script(src='/js/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script(type='module' src='/js/main.mjs')
	script(src='/js/ui-components.js')