doctype html
head
	title Cylinder Chess
	link(rel='stylesheet', href='styles/font.css')
	link(rel='stylesheet', href='styles/init-game-states.css')
	link(rel='stylesheet', href='styles/styles.css')
	link(rel='stylesheet', href='styles/mobile-styles.css')
	link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicon/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon/favicon-16x16.png")
	link(rel="manifest", href="/assets/favicon/site.webmanifest")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

body(style=`--pricol: 100, 158, 141; --seccol: 60,60,60; --tricol: 220,220,220; --bgcol: 40,40,40;  --secbgcol: 20,20,20; --darkpricol:	39, 102, 82;`)
	img#cc-graphic(alt='graphic',src='/assets/cc-logo.svg')
	include ui-components
	#main.state-home
		#mainbuttonsrow
			#gamebuttonscontainer
				+mainbutton('startbutton','Start Game')
				+mainbutton('joinbutton','Join Game')
			#sharebuttonscontainer
				+inversemainbuttonicon('sharebutton','Share','/assets/share_light.svg')
		#startgame
			+startgameoptions()
		#joingame
			+joingameoptions()
		#waitingarea
			#waitingareacontent
				h2.room
				+subbutton('leavewaitingroom','leave','')
				p
					| Waiting AREA
		#gamearea
			//- | Game AREA
			//- h2.room
			//- h3#movemade
			#endgamerow.buttonrow
				+inversesubbutton('leaveroom','leave room','')
				+buttonrowmsg('gameovermsg','')
				+inversesubbutton('offerdraw','offer draw','')
				+buttonrowmsg('drawoffersent','offer sent')
				+subbutton('acceptdraw','accept draw','')
				+inversesubbutton('resigngame','resign game','lastbutton')
				+inversesubbutton('offerrematch','rematch','lastbutton')
				+buttonrowmsg('rematchoffersent','rematch sent')
				+subbutton('acceptrematch','accept rematch','lastbutton')
			#boardarea
				+popup('boardpopup')
		#sharearea
			h2.titlebanner
				| please share:
			.copytext
				p.tocopy cylinderchess.com
				img.clipboard-copy(alt='copy to clipboard',src='/assets/light-clipboard-copy.svg')
			.buttonrow
				+subbutton('backsharearea','back','')
		+popup('generalpopup')
	h1#cylinder-title
		| @ cylinderchess.com
	script(src='/js/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script(type='module', src='/js/main.mjs')
	script(src='/js/ui-components.js')