doctype html
head
	title Cylinder Chess
	link(rel='stylesheet', href='styles/font.css')
	link(rel='stylesheet', href='styles/init-game-states.css')
	link(rel='stylesheet', href='styles/styles.css')
	link(rel='stylesheet', href='styles/mobile-styles.css')
	link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicon/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon/favicon-16x16.png")
	link(rel="manifest", href="/assets/favicon/site.webmanifest")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

body(style=`--pricol: 100, 158, 141; --seccol: 60,60,60; --tricol: 220,220,220; --bgcol: 40,40,40;  --secbgcol: 20,20,20; --darkpricol:	39, 102, 82;`)
	a(href="https://cylinderchess.com")
		img#cc-graphic(alt='graphic',src='/assets/cc-logo.svg')
	#cylinder-title
		a(href="https://cylinderchess.com") cylinderchess.com
	include ui-components
	#helpbtn
		+inversemainbutton('help','?')
	#main.state-home
		#mainbuttonsrow
			#gamebuttonscontainer.splitbuttonrow
				+mainbutton('startbutton','Start Game')
				+mainbutton('joinbutton','Join Game')
			#sharebuttonscontainer.splitbuttonrow
				+inversemainbutton('aboutbutton','About')
				+inversemainbuttonicon('sharebutton','Share','/assets/share_light.svg')
		#startgame
			+startgameoptions()
		#joingame
			+joingameoptions()
		#waitingarea
			#waitingbg
			#waitingareacontent
				h2.room
				+subbutton('leavewaitingroom','leave','')
				p
					| Waiting AREA
		#gamearea
			//- | Game AREA
			//- h2.room
			//- h3#movemade
			#endgamerow.buttonrow
				+inversesubbutton('leaveroom','leave room','')
				+buttonrowmsg('gameovermsg','')
				+inversesubbutton('offerdraw','offer draw','')
				+buttonrowmsg('drawoffersent','offer sent')
				+subbutton('acceptdraw','accept draw','')
				+inversesubbutton('resigngame','resign game','lastbutton')
				+inversesubbutton('offerrematch','rematch','lastbutton')
				+buttonrowmsg('rematchoffersent','rematch sent')
				+subbutton('acceptrematch','accept rematch','lastbutton')
			#boardarea
				+popup('boardpopup')
				#yourmoveslider
					| Your Move
		#sharearea
			.qrrow
				h2.titlebanner
					| Here's a QR code --><br>and below is the URL.<br>So please share if you<br>like cylinderchess :)
				img#qr(alt='qr',src='/assets/qr.png')
			.copytext
				p.tocopy https://cylinderchess.com
				img.clipboard-copy(alt='copy to clipboard',src='/assets/light-clipboard-copy.svg')
			.buttonrow
				+inversesubbutton('backsharearea','back','')
		#aboutarea
			#abouttxtarea
				h2 A bit about the project!
				p 
					img(id='toby-pic', alt='Tobias Loader', src='/assets/Toby-Col-sq.jpeg')
					| Hi, I'm Tobias Loader. I'm a student at the University of Oxford studying Maths and CompSci and I love building fun coding projects. Check out my 
					a(class='linkedin',href='https://www.linkedin.com/in/tobiasloader/') LinkedIn
					|  and 
					a(class='github',href='https://github.com/TobiasLoader') Github
					|  if you'd like more info.<br><br>While playing chess one day with my old school-friend Will, we said, "let's imagine we've glued the A and H files together" – effectively turning the board into a cylinder, enabling continuous movement around it. Having discovered how interesting and complex this variant can be, I thought I'd have a go at building this cylinder chess app as my holiday project. I've enjoyed playing it online with friends and hope you do too!<br><br>If you have any feature requests, bug reports, etc, you can get in touch via 
					a(href="mailto:cylinderchess@tobiasloader.com",style='color:rgba(255,255,255,0.6);') cylinderchess@tobiasloader.com
					| .<br><br>A lot of coffees were consumed in the making of this app! If you've enjoyed playing it and you feel happy and able to donate the price of a coffee to help out with my server costs I'd be very grateful. I'm keen to keep developing this project and have plans in the pipes for user accounts, an eval engine & ELO, and matching random players. Thanks very much :)

			.buttonrow
				+inversesubbutton('backaboutarea','back','')
				+subbuttonicon('coffeebutton','Buy me a Coffee','/assets/coffee-cup-v3.svg')
		+popup('generalpopup')
	#copyright-content
		p#desktop-copyright
			a.footer-link(href='https://cylinderchess.com') cylinderchess.com
			| &nbsp;|&nbsp;copyright&nbsp;
			span(style='font-family:Arial, sans-serif;') &copy;&nbsp;
			| &nbsp;2022&nbsp;
			a.footer-link(href='https://www.linkedin.com/in/tobiasloader/') tobias&nbsp;loader
			| &nbsp;&mdash;&nbsp;all&nbsp;rights&nbsp;reserved
	script(src='/js/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script(type='module', src='/js/main.mjs')
	script(src='/js/ui-components.js')