html, body {
  height: 100%;
  overflow: hidden; }

.postbutton {
  border: black 1px solid;
  width: 200px;
  height: 100px;
  cursor: pointer; }

#waitingarea {
  display: none;
  width: 400px;
  height: 400px;
  border: black 1px solid;
  padding: 10px; }

#gamearea {
  display: none;
  width: 400px;
  border: black 1px solid;
  padding: 10px; }

#cylinderarea {
  display: grid;
  perspective: 35em; }

#cylinder {
  place-self: center;
  display: grid;
  transform-style: preserve-3d; }

#cylinder .col {
  display: grid;
  grid-area: 1/ 1;
  width: calc(var(--rbe)*6em);
  height: calc(8*var(--rfh)*6em);
  transform-origin: 50% 100%;
  transform: rotatey(calc(var(--j)*1turn)) translatez(calc(var(--rri)*6em)) scalex(1.01); }

#cylinder .cell {
  width: calc(var(--rbe)*6em);
  height: calc(var(--rfh)*6em); }

#cylinder .cell {
  background: #c8c8c8; }

#cylinder .col:nth-child(even) .cell:nth-child(even),
#cylinder .col:nth-child(odd) .cell:nth-child(odd) {
  background: #649e8d; }

.piece {
  width: 4em;
  display: inline;
  position: absolute;
  padding: 6px; }

.rankid {
  display: inline;
  position: absolute;
  margin: 0; }

.fileid {
  position: absolute;
  display: inline;
  margin-top: 15px; }
