@font-face {
  font-family: "JetBrains Mono Light";
  src: url('../assets/fonts/JetBrainsMono-Light.ttf');
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('../assets/fonts/JetBrainsMono-Regular.ttf');
}