@media only screen and (max-width: 600px) {
  body {
    font-size: 13px; }
  #cylinder-title {
    display: none; }
  #mainbuttonsrow {
    width: 80%; }
  #gamebuttonscontainer {
    display: flex;
    flex-direction: column; }
  #sharebuttonscontainer {
    flex-direction: column; }
  .mainbutton {
    border-radius: 100px !important;
    width: auto; }
  .mainbuttontitle {
    font-size: 18px; }
  .titlebanner {
    margin: 5px; }
  #startgame-options .game-option {
    padding: 5px 0; }
  .radiobuttonoption {
    margin: 0 5px; }
  .buttonrow .subbutton {
    flex: 1;
    margin: 0 5px; }
  .submainbuttontitle {
    font-size: 13px; }
  .iconbutton.subbutton img {
    display: none; }
  #roomnumcontainer {
    margin: 10px 5px; }
  #main.state-waitingarea #waitingarea {
    background: none; }
  .state-gamearea {
    position: absolute !important;
    margin-top: 5px;
    top: 0;
    left: 0;
    width: 100%; }
  #gamearea .subbutton {
    height: 35px; }
  #gamearea .submainbuttontitle {
    line-height: 35px;
    font-size: 13px; }
  .buttonrowmsgcontainer {
    height: 35px; }
  .buttonrowmsg {
    font-size: 13px;
    line-height: 35px; }
  .piece {
    width: calc(var(--relativesize));
    margin: 0; }
  #commonboard.cyl .capturearea {
    width: calc(4*var(--relativesize)/3);
    grid-auto-rows: calc(2*var(--relativesize)/3); }
  #commonboard.cyl .captured.piece {
    width: calc(2*var(--relativesize)/3); }
  #commonboard.sqr .capturearea {
    height: calc(5*var(--relativesize)/10);
    grid-auto-columns: calc(4*var(--relativesize)/10); }
  #commonboard.sqr .captured.piece {
    width: calc(5*var(--relativesize)/10); }
  #cylinder-title {
    height: 35px; }
  #cylinder-title a {
    font-size: 13px;
    line-height: 35px; }
  .popup {
    width: calc(100% - 30px);
    margin: 0 15px; }
  #copyright-content {
    display: none;
    bottom: calc(50% - 235px);
    left: 10px;
    transform: rotate(270deg);
    transform-origin: left; }
  #copyright-content p {
    font-size: 10px;
    color: rgba(var(--tricol), 0.4);
    text-align: left; }
  #copyright-content .footer-link {
    color: rgba(var(--tricol), 0.4); }
  .state-home + #copyright-content, .state-gamearea + #copyright-content {
    display: block; } }

@media only screen and (min-width: 600px) and (max-height: 800px) {
  #gamearea .submainbuttontitle {
    font-size: 13px; } }

@media only screen and (max-height: 700px) {
  #gamearea .submainbuttontitle {
    font-size: 11px; } }
