html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: black;
  touch-action: none; }

body {
  background: linear-gradient(180deg, rgba(var(--bgcol), 1) 20%, rgba(var(--pricol), 0.35) 100%);
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  display: flex; }

#cc-graphic {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  max-width: 200px;
  width: 10%;
  margin: 30px 40px; }

body.ingame #cc-graphic {
  display: none; }

#cylinder-title {
  position: absolute;
  margin: 30px 40px;
  border: rgba(var(--pricol), 0.3) 1px solid;
  box-shadow: rgba(var(--secbgcol), 0.5) 0px 0px 20px 5px;
  height: 40px;
  right: 0; }

#cylinder-title a {
  color: rgba(var(--pricol), 0.8);
  text-align: right;
  font-size: 17px;
  line-height: 40px;
  padding: 11px 20px;
  text-decoration: none; }

body.ingame #cylinder-title {
  display: none; }

.state-home {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#main {
  position: relative;
  max-width: 600px;
  margin: auto;
  width: 100%; }

#mainbuttonsrow {
  width: 100%;
  display: flex;
  flex-direction: column; }

#main.state-gamearea {
  max-width: 100%; }

.splitbuttonrow {
  display: flex; }

.mainbutton {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 7.5px;
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  background: rgba(var(--pricol), 1);
  color: rgba(var(--secbgcol), 1); }

.mainbutton:hover {
  cursor: pointer; }

.splitbuttonrow .mainbutton:first-child {
  border-radius: 100px 0 0 100px; }

.splitbuttonrow .mainbutton:last-child {
  border-radius: 0 100px 100px 0; }

.inversemainbutton {
  background: rgba(var(--bgcol), 1);
  color: rgba(var(--pricol), 1);
  border: rgba(var(--pricol), 1) 2px solid;
  border-radius: 100px; }

.iconbutton {
  display: flex;
  place-content: center; }

.iconbutton img {
  height: 30px;
  margin: auto 10px;
  opacity: 0.6; }

.inversemainbutton:hover {
  background: rgba(var(--secbgcol), 1); }

.inversesubbutton .submainbuttontitle {
  color: rgba(var(--pricol), 1); }

.mainbuttontitle {
  margin: 0;
  padding: 5px;
  font-size: 22px; }

.subbutton {
  height: 50px;
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: rgba(var(--pricol), 1); }

.subbutton:hover {
  cursor: pointer; }

.subbutton.iconbutton {
  display: flex; }

.inversesubbutton {
  background: rgba(var(--bgcol), 1);
  color: rgba(var(--pricol), 1);
  border: rgba(var(--pricol), 1) 1px solid; }

.inversesubbutton:hover {
  background: rgba(var(--secbgcol), 1); }

.submainbuttontitle {
  color: rgba(var(--secbgcol), 1);
  margin: 0;
  line-height: 50px;
  font-family: "JetBrains Mono Light";
  font-size: 17px; }

.buttonrow {
  display: flex;
  margin: auto;
  margin-top: 10px;
  place-content: space-evenly; }

.buttonrow .subbutton {
  flex: 1;
  margin: 0 10px; }

.titlebanner {
  height: 50px;
  margin: 10px;
  color: rgba(var(--tricol), 1);
  line-height: 50px; }

#roomnumcontainer {
  margin: 20px 10px; }

#joingame input#roomnum {
  height: 50px;
  width: 100%;
  background: rgba(var(--secbgcol), 1);
  color: rgba(var(--tricol), 1);
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-family: "JetBrains Mono Light"; }

#roomnum:focus {
  outline: none; }

#waitingarea {
  margin: auto;
  display: none;
  padding-top: 100%; }

#waitingbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("/assets/light-checker-sq.svg");
  background-repeat: repeat; }

#waitingareacontent {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%); }

#waitingareacontent p {
  text-align: center; }

#waitingarea .room {
  text-align: center; }

#leavewaitingroom {
  width: 50%;
  margin: auto; }

#startgame-options {
  margin: 5px; }

#startgame-options .game-option {
  list-style-type: none;
  margin: auto;
  display: flex;
  place-content: space-around;
  color: rgba(var(--tricol), 1);
  padding: 10px 0; }

.radiobuttonoption {
  flex: 1;
  margin: 0 10px;
  height: 50px;
  background: rgba(var(--secbgcol), 1);
  cursor: pointer;
  position: relative;
  border-radius: 3px; }

.radiobuttonoption input {
  position: absolute;
  margin: 0;
  pointer-events: none;
  visibility: hidden; }

.radiobuttonoption label {
  pointer-events: none;
  width: calc(100% - 26px);
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 100%;
  text-align: center;
  background: rgba(100, 158, 141, 0.1); }

.radiobuttonoption input:checked + label {
  color: rgba(var(--pricol), 1);
  background: rgba(var(--secbgcol), 1);
  border: rgba(var(--pricol), 0.5) 1px solid; }

#waitingarea {
  color: rgba(var(--tricol), 1); }

#gamearea .buttonrow {
  margin-top: 0;
  margin-bottom: 20px; }

#gamearea .subbutton {
  height: 40px; }

#gamearea .submainbuttontitle {
  line-height: 40px;
  font-size: 15px; }

#gamearea .subbutton:first-child {
  margin-left: 0; }

#gamearea .subbutton.lastbutton {
  margin-right: 0; }

#timerow {
  display: flex;
  margin: 10px 0 0 0;
  place-content: space-between; }

.timercontainer {
  display: flex; }

.timer {
  padding: 5px 10px;
  border: rgba(var(--pricol), 1) 1px solid; }

#timerow h3 {
  font-size: 16px;
  margin: auto;
  text-align: center; }

.playericon {
  border-radius: 3px;
  width: 34px;
  margin: 0; }

#timerow .timercontainer:first-child .playericon {
  margin-right: 10px; }

#timerow .timercontainer:last-child .playericon {
  margin-left: 10px; }

#wtimer .playericon {
  background: rgba(var(--pricol), 1); }

#btimer .playericon {
  background: rgba(var(--secbgcol), 1); }

.buttonrowmsgcontainer {
  flex: 1;
  margin: 0 10px;
  height: 40px; }

.buttonrowmsg {
  margin: auto;
  line-height: 40px;
  font-size: 17px;
  text-align: center; }

#gamearea #endgamerow #gameovermsgcontainer {
  display: none; }

#gamearea #endgamerow #offerdraw {
  display: none; }

#gamearea #endgamerow #drawoffersentcontainer {
  display: none; }

#gamearea #endgamerow #acceptdraw {
  display: none; }

#gamearea #endgamerow #resigngame {
  display: none; }

#gamearea #endgamerow #offerrematch {
  display: none; }

#gamearea #endgamerow #rematchoffersentcontainer {
  display: none; }

#gamearea #endgamerow #acceptrematch {
  display: none; }

#gamearea.noboard {
  display: none; }

#gamearea.playstate #endgamerow #offerdraw {
  display: block; }

#gamearea.playstate #endgamerow #resigngame {
  display: block; }

#gamearea.drawsent #endgamerow #drawoffersentcontainer {
  display: block; }

#gamearea.drawsent #endgamerow #resigngame {
  display: block; }

#gamearea.drawreceived #endgamerow #acceptdraw {
  display: block; }

#gamearea.drawreceived #endgamerow #resigngame {
  display: block; }

#gamearea.gameover #endgamerow #gameovermsgcontainer {
  display: block; }

#gamearea.gameover #endgamerow #offerrematch {
  display: block; }

#gamearea.rematchsent #endgamerow #gameovermsgcontainer {
  display: block; }

#gamearea.rematchsent #endgamerow #rematchoffersentcontainer {
  display: block; }

#gamearea.rematchreceived #endgamerow #gameovermsgcontainer {
  display: block; }

#gamearea.rematchreceived #endgamerow #acceptrematch {
  display: block; }

#gamearea.gameover #boardarea,
#gamearea.rematchsent #boardarea,
#gamearea.rematchreceived #boardarea {
  filter: grayscale(0.7); }

#sharearea .copytext {
  background: rgba(var(--secbgcol), 1);
  display: flex;
  margin: 20px 10px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  height: 50px; }

#sharearea .copytext:hover {
  background: rgba(var(--bgcol), 1);
  cursor: pointer; }

#sharearea .tocopy {
  flex: 1;
  margin: 0;
  margin-left: 20px;
  line-height: 50px;
  color: rgba(var(--tricol), 1); }

#sharearea .clipboard-copy {
  width: 20px;
  padding: 0 15px; }

#aboutarea #abouttxtarea {
  margin: 10px 10px 20px 10px;
  max-height: 70vh;
  overflow: auto; }

#aboutarea #toby-pic {
  width: 110px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  border: rgba(255, 255, 255, 0.5) 1px solid; }

#aboutarea h2 {
  color: rgba(var(--tricol), 0.9); }

#aboutarea p {
  color: rgba(var(--tricol), 0.7);
  text-align: justify; }

#aboutarea p a {
  text-decoration: none; }

#aboutarea .linkedin {
  color: #0092df; }

#aboutarea .github {
  color: #79c0ff; }

#aboutarea #coffeebutton {
  width: auto; }

.popup {
  display: none;
  color: rgba(var(--tricol), 1);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 80%;
  height: 40%;
  margin: 0 0 0 10%;
  min-height: 300px;
  background: #3c3c3c;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
  border: rgba(var(--tricol), 0.5) 1px solid;
  overflow: auto; }

.popupcontent {
  padding: 40px; }

.popup h2 {
  margin: 20px 0; }

.popup p {
  margin: 0; }

.popup .popupcross {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  margin: 20px;
  cursor: pointer; }

.popup .crossline {
  position: absolute;
  height: 40px;
  width: 1px;
  margin-left: 20px;
  border-left: rgba(var(--tricol), 1) 1px solid; }

.popup .popupcrossleft {
  transform: rotate(45deg); }

.popup .popupcrossright {
  transform: rotate(315deg); }

#main.popup-active {
  pointer-events: none; }

#main.popup-active .popup {
  display: block;
  pointer-events: auto; }

#gamearea .popup {
  top: calc(50% - 22px); }

.ingame #generalpopup {
  display: none !important; }

#gamearea {
  position: relative;
  width: min-content;
  margin: auto;
  display: none;
  padding: 10px;
  color: rgba(var(--tricol), 1); }

#boardarea {
  width: min-content; }

#commonboard {
  display: flex;
  justify-content: space-between; }

#commonboard.sqr {
  flex-direction: column;
  width: min-content;
  margin: auto; }

#commonboard.cyl .capturearea {
  width: calc(14*var(--relativesize)/10);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: calc(7*var(--relativesize)/10);
  margin: 10% 0 auto 0; }

#commonboard.cyl .capturearea:first-child {
  margin-right: calc(7*var(--relativesize)/10); }

#commonboard.cyl .capturearea:last-child {
  margin-left: calc(7*var(--relativesize)/10); }

#commonboard.sqr .capturearea {
  height: calc(7*var(--relativesize)/10);
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: 1fr;
  grid-auto-columns: calc(5.3*var(--relativesize)/10);
  width: min-content; }

#commonboard.cyl #mycapture {
  direction: rtl; }

.cell {
  background: rgba(var(--seccol), 1);
  position: relative; }

.col:nth-child(even) .cell:nth-child(even),
.col:nth-child(odd) .cell:nth-child(odd) {
  background: rgba(var(--pricol), 1); }

.cell p {
  color: rgba(var(--pricol), 1);
  font-size: calc(var(--relativesize)/4);
  margin: 0;
  position: absolute; }

.col:nth-child(even) .cell:nth-child(even) p,
.col:nth-child(odd) .cell:nth-child(odd) p {
  color: rgba(var(--seccol), 1); }

.piece {
  width: calc(9*var(--relativesize)/10);
  display: inline;
  position: absolute;
  margin: calc(var(--relativesize)/20); }

.silhouette {
  width: calc(6*var(--relativesize)/10);
  display: inline;
  position: absolute;
  opacity: 0.5;
  margin: calc(2*var(--relativesize)/10); }

.col:nth-child(even) .cell:nth-child(even) .silhouette,
.col:nth-child(odd) .cell:nth-child(odd) .silhouette {
  opacity: 0.3; }

.rankid {
  top: 0;
  left: 2px; }

.fileid {
  right: 2px;
  bottom: 0; }

.piecechosen {
  display: inline;
  position: absolute;
  width: calc(8*var(--relativesize)/10);
  height: calc(8*var(--relativesize)/10);
  background: none;
  border: rgba(var(--darkpricol), 0.5) calc(var(--relativesize)/10) solid; }

.replacepiecehighlight {
  display: inline;
  position: absolute;
  width: calc(8*var(--relativesize)/10);
  height: calc(8*var(--relativesize)/10);
  background: rgba(var(--darkpricol), 0.5);
  margin: calc(var(--relativesize)/10); }

.incheck {
  display: inline;
  position: absolute;
  background: #8c5454;
  width: calc(8*var(--relativesize)/10);
  height: calc(8*var(--relativesize)/10);
  margin: calc(var(--relativesize)/10); }

.prevmove {
  display: inline;
  position: absolute;
  width: calc(8*var(--relativesize)/10);
  height: calc(8*var(--relativesize)/10);
  margin: calc(var(--relativesize)/10);
  background: url("/assets/light-checker-sq.svg");
  background-size: 100%; }

.col:nth-child(even) .cell:nth-child(even) .prevmove,
.col:nth-child(odd) .cell:nth-child(odd) .prevmove {
  background: url("/assets/dark-checker-sq.svg");
  background-size: 100%; }

.mymove .validcandidate {
  cursor: pointer; }

.mymove .mypiece {
  cursor: pointer; }

.captured {
  display: block;
  position: relative;
  width: calc(7*var(--relativesize)/10);
  margin: 0; }

#commonboard.sqr .captured {
  margin: auto 0;
  width: calc(6*var(--relativesize)/10); }

#cylinderarea {
  display: grid;
  perspective: calc(7*var(--relativesize));
  box-shadow: rgba(var(--secbgcol), 0.4) 0px 0px 30px 30px;
  width: calc(2*var(--relativesize));
  height: calc(8*var(--relativesize));
  margin: calc(var(--relativesize)) auto; }

#cylinder {
  place-self: center;
  display: grid;
  transform-style: preserve-3d; }

#cylinder .col {
  display: grid;
  grid-area: 1/ 1;
  width: var(--relativesize);
  height: calc(8*var(--relativesize));
  transform-origin: 50% 100%;
  transform: rotatey(calc(var(--j)*1turn)) translatez(calc(var(--rri)*var(--relativesize)/var(--cellconst))) scalex(1.01); }

#cylinder .cell {
  width: var(--relativesize);
  height: var(--relativesize); }

#squarearea {
  display: flex;
  width: min-content; }

#square {
  flex-direction: row;
  display: flex;
  margin: auto;
  box-shadow: rgba(var(--secbgcol), 0.3) 0 0 40px 10px; }

#square .col {
  flex-direction: column;
  display: flex; }

#square .cell {
  height: var(--relativesize);
  width: var(--relativesize); }

#copyright-content {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0; }

#copyright-content p {
  left: 50%;
  text-align: center;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: rgba(var(--tricol), 0.6);
  font-size: 12px; }

#copyright-content .footer-link {
  color: rgba(var(--tricol), 0.6); }

#copyright-content .footer-link:hover {
  color: rgba(var(--pricol), 1); }

#copyright-content .footer-link {
  text-decoration: none;
  text-underline-offset: 5px; }
